/* ========================= */
/* RESET */
/* ========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* ========================= */
/* BODY */
/* ========================= */

body{
    font-family: 'Poppins', sans-serif;
    background: #0b0b0b;
    color: white;
    overflow-x: hidden;
}


/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar{
    width: 100%;
    padding: 25px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(10px);
}

.logo h2{
    font-size: 1.8rem;
    letter-spacing: 2px;
    color: #ffffff;
}

.nav-links{
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #ff3c3c;
}


/* ========================= */
/* HERO SECTION */
/* ========================= */

.hero{
    width: 100%;
    height: 100vh;

    background:
    linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.2)),
    url('img/Thesopranos3.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding: 0 8%;

    position: relative;
}

.hero-content{
    max-width: 650px;
    z-index: 2;
}

.tag{
    display: inline-block;

    padding: 8px 18px;

    background: rgba(255,255,255,0.1);

    border: 1px solid rgba(255,255,255,0.2);

    border-radius: 30px;

    margin-bottom: 20px;

    font-size: 0.9rem;
}

.hero h1{
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.1rem;
    color: #d2d2d2;
    line-height: 1.7;

    margin-bottom: 35px;
}

.btn{
    display: inline-block;

    padding: 14px 30px;

    background: #ff3c3c;

    color: white;
    text-decoration: none;

    border-radius: 50px;

    font-weight: 600;

    transition: 0.3s;
}

.btn:hover{
    background: #ff1f1f;
    transform: translateY(-3px);
}


/* ========================= */
/* RANKING SECTION */
/* ========================= */

.ranking-section{
    padding: 120px 8%;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 70px;
}

/* ========================= */
/* CARDS CON FLIP */
/* ========================= */

.cards-container{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 35px;
}


/* CARD */

.card{
    perspective: 1000px;

    height: 860px;
}
.card:hover .card-front{
    box-shadow:
    0 0 25px rgba(255,60,60,0.2);
}


/* INNER */

.card-inner{
    position: relative;

    width: 100%;
    height: 100%;

    transition: transform 0.8s;

    transform-style: preserve-3d;
}


/* FLIP */

.card:hover .card-inner{
    transform: rotateY(180deg);
}
@media (hover: hover){
    .card:hover .card-inner{
        transform: rotateY(180deg);
    }
}


/* FRONT + BACK */

.card-front,.card-back{
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 25px;

    overflow: hidden;

    backface-visibility: hidden;
}


/* FRONT */

.card-front{
    background: #151515;

    border: 1px solid rgba(255,255,255,0.05);

    transition: 0.4s;
}


.card:hover .card-front{
    box-shadow: 0 15px 40px rgba(255,60,60,0.2);
}


/* BACK */

.card-back{
    background:
    linear-gradient(
        180deg,
        #1c1c1c,
        #0f0f0f
    );

    border: 1px solid rgba(255,255,255,0.05);

    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 30px;
}


/* IMAGE */

.card-image{
    width: 100%;

    height: 590px;

    overflow: hidden;
}


.card-image img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    object-position: center;

    transition: 0.5s;
}


.card:hover img{
    transform: scale(1.06);
}


/* CONTENT */

.card-content{
    padding: 25px;
}


.rank{
    color: #ff3c3c;

    font-size: 0.95rem;
    font-weight: 600;
}


.card-content h3{
    font-size: 1.8rem;

    margin: 12px 0;
}


.genre{
    color: #aaaaaa;

    margin-bottom: 15px;
}


.description{
    color: #d5d5d5;

    line-height: 1.7;
}


/* BACK TEXT */

.card-back h3{
    font-size: 2rem;

    margin-bottom: 25px;
}


.card-back p{
    margin-bottom: 14px;

    color: #d6d6d6;

    line-height: 1.6;
}


.quote{
    margin-top: 20px;

    font-style: italic;

    color: #ffcc70;

    line-height: 1.8;
}

/* ========================= */
/* FAVORITE SECTION */
/* ========================= */

.favorite-section{
    padding: 120px 4%;

    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('img/Thesopranos2.jpg');

    background-size: cover;
    background-position: top center;
}

.favorite-content{
    max-width: 750px;
}

.favorite-content h2{
    font-size: 3rem;
    margin-bottom: 25px;
}

.favorite-content p{
    color: #d0d0d0;
    line-height: 1.8;
    font-size: 1.1rem;
}


/* ========================= */
/* FOOTER */
/* ========================= */

footer{
    padding: 35px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.08);
}

footer p{
    color: #888;
}


/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width: 900px){
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hero h1{
        font-size: 3.5rem;
    }

    .section-title{
        font-size: 2.3rem;
    }

    .favorite-content h2{
        font-size: 2.2rem;
    }

}


@media(max-width: 768px){

    .navbar{
        padding: 20px 5%;
    }

    .nav-links{
        gap: 18px;
    }

    .hero{
        padding: 0 5%;
    }

    .hero h1{
        font-size: 3rem;
    }

    .hero p{
        font-size: 1rem;
    }

    .ranking-section,
    .favorite-section{
        padding: 100px 5%;
    }

}


@media(max-width: 500px){

    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .hero h1{
        font-size: 2.4rem;
    }

    .section-title{
        font-size: 2rem;
    }

    .favorite-content h2{
        font-size: 1.8rem;
    }
    .cards-container{
    grid-template-columns: 1fr;
    }

}

/* ========================= */
/* APPEAR ANIMATION */
/* ========================= */

.card{
    opacity: 0;
    transform: translateY(50px);

    transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}


.card.show{
    opacity: 1;
    transform: translateY(0);
}
